server:
  port: 8084

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: student-service
          uri: lb://STUDENT
          predicates:
            - Path=/api/student/**
        - id: school-service
          uri: lb://SCHOOL
          predicates:
            - Path=/api/school/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8083/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
